.animate0 {
   	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 0s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 0s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 0s;
	animation-timing-function: ease;
	          
}         

.animate1{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: .2s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: .2s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: .2s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: .2s;
	animation-timing-function: ease;
	          
} 

.animate2{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: .4s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: .4s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: .4s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: .4s;
	animation-timing-function: ease;
	          
} 

.animate3{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: .6s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: .6s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: .6s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: .6s;
	animation-timing-function: ease;
	          
}   

.animate4{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: .8s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: .8s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: .8s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: .8s;
	animation-timing-function: ease;
	          
}  

.animate5{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 1s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 1s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 1s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 1s;
	animation-timing-function: ease;
	          
}    
.animate6{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 1.2s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 1.2s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 1.2s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 1.2s;
	animation-timing-function: ease;
	          
}    
.animate7{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 1.4s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 1.4s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 1.4s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 1.4s;
	animation-timing-function: ease;
	          
}

.animate8{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 1.8s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 1.8s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 1.8s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 1.8s;
	animation-timing-function: ease;
	          
}

.animate9{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 1.8s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 1.8s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 1.8s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 1.8s;
	animation-timing-function: ease;
	          
}

.animate10{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 2.0s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 2.0s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 2.0s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 2.0s;
	animation-timing-function: ease;
	          
}   

.animate11{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 2.2s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 2.2s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 2.2s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 2.2s;
	animation-timing-function: ease;
	          
}

.animate12{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 2.4s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 2.4s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 2.4s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 2.4s;
	animation-timing-function: ease;
	          
} 

.animate13{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 2.8s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 2.8s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 2.8s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 2.8s;
	animation-timing-function: ease;
	          
}

.animate14{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 2.8s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 2.8s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 2.8s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 2.8s;
	animation-timing-function: ease;
	          
}  

.animate15{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 3.0s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 3.0s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 3.0s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 3.0s;
	animation-timing-function: ease;
	          
}

.animate16{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 3.2s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 3.2s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 3.2s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 3.2s;
	animation-timing-function: ease;
	          
}

.animate17{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 3.4s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 3.4s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 3.4s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 3.4s;
	animation-timing-function: ease;
	          
}
.animate18{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 3.6s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 3.6s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 3.6s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 3.6s;
	animation-timing-function: ease;
	          
}
.animate19{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 3.8s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 3.8s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 3.8s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 3.8s;
	animation-timing-function: ease;
	          
}

.animate20{
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 4.0s;
	-webkit-animation-timing-function: ease;
	
	-moz-animation-duration: .8s;
	-moz-animation-delay: 4.0s;
	-moz-animation-timing-function: ease;
	
	-ms-animation-duration: .8s;
	-ms-animation-delay: 4.0s;
	-ms-animation-timing-function: ease;
	
	animation-duration: .8s;
	animation-delay: 4.0s;
	animation-timing-function: ease;
	          
}