@using Admin.Models.Helper
@using Admin.Entity;

<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        <span class="logo-mini"><b>Alaca</b> Admin</span>
        <span class="logo-lg"><b>Alaca</b> Admin</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    @{
                        string userName = string.Empty;

                        if (Session[Constants.SessionInformation] != null)
                        {
                            var user = (User)Session[Constants.SessionInformation];
                            userName = user.FullName;
                        }
                    }
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">@userName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-footer">
                            <div class="pull-left">
                            </div>
                            <div class="pull-right">
                                @Html.ActionLink("Çıkış Yap", "Logout", "Home")
                            </div>
                        </li>
                    </ul>
                </li>
                @* END User Account Menu *@
            </ul>
        </div>
    </nav>
</header>