<section id="home_ad_banner" class="add_banner">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-title tt head_section wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Bir Fikriniz Mi Var?</h2>
                <p><a href="@Url.Action("Index", "BizeUlasin")" class="my_button wow pulse animated animated animated" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 300ms; animation-iteration-count: infinite; animation-name: pulse;">BİZE ULAŞIN</a></p>
            </div>
        </div>
    </div>
</section>