@using Admin.DataLayer
@model List<Referans>

@if (Model != null && Model.Count > 0)
{
    string mainPath = string.Format("{0}ReferenceImage/", ViewData["AdminDomainAddress"].ToString());

    <div class="home_logo">
        <div class="container">
            <div class="home_logo_box">
                <div class="row">
                    <div class="col-md-3 logo_head"> <span class="">  Referanslarımız</span> </div>
                    <div class="col-md-9">
                        <div class="slick marquee">
                            @foreach (Referans reference in Model)
                            {
                                <a href="@reference.FirmaUrl" target="_blank">
                                    <div class="slick-slide">
                                        <div class="inner">
                                            <img alt="@reference.ReferansFirmaAdi" src="@string.Format("{0}{1}",mainPath,reference.ResimUrl)" title="@reference.ReferansFirmaAdi">
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
