<section class="service_sec bg_gray" id="home_services">
    <div class="page-section-bg ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center head_section wow fadeInUp">
                    <h2 class="section-title tt"><span style="color: #e93726;">Sektörler</span></h2>
                    <br>
                </div>
            </div>
            <div class="icons-box style-1">
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="icons-wrap wow zoomIn" data-wow-delay="0.5s">
                            <div class="icons-item">

                                <div id="box-height-1" class="item-box sa-img bg-gary no redirect" href="artificial-intelligence-solutions/index.html">

                                    <img alt="image" src="images/Our%20End%20to%20end%20Services/Artificial%20Intelligence.png">
                                    <h5 class="icons-box-title">Mikro</h5>
                                    <p>Mikro muhasebe yazılım satışı, eğitimi ve desteği</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="icons-wrap wow zoomIn" data-wow-delay="0.5s">
                            <div class="icons-item">
                                <div id="box-height-1" class="item-box sa-img bg-gary no redirect" href="mobile-app-development-company/index.html">
                                    <img alt="image" src="images/Our%20End%20to%20end%20Services/mobile-app.png">
                                    <h5 class="icons-box-title">Etiket</h5>
                                    <p>Yazar kasa etiketleri üretimi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="icons-wrap wow zoomIn" data-wow-delay="0.5s">
                            <div class="icons-item">
                                <div id="box-height-1" class="item-box sa-img bg-gary no redirect" href="frameworks/index.html">
                                    <img alt="image" src="images/Our%20End%20to%20end%20Services/Software%20development.png">
                                    <h5 class="icons-box-title">Web</h5>
                                    <p>E-ticaret ve diğer WEB uygulamaları</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="icons-wrap wow zoomIn" data-wow-delay="0.5s">
                            <div class="icons-item">
                                <div id="box-height-1" class="item-box sa-img bg-gary no redirect" href="eCommerce-development-company/index.html">
                                    <img alt="image" src="images/Our%20End%20to%20end%20Services/ecommerce%20development%20.png">
                                    <h5 class="icons-box-title">Pos Çözümleri</h5>
                                    <p>Pos terminalleri</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="icons-wrap wow zoomIn" data-wow-delay="0.5s">
                            <div class="icons-item">
                                <div id="box-height-1" class="item-box sa-img bg-gary no redirect" href="web-design-company-india/index.html">
                                    <img alt="image" src="images/Our%20End%20to%20end%20Services/ux-design.png">
                                    <h5 class="icons-box-title">Donanım</h5>
                                    <p>Donanım çözümleri</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="icons-wrap wow zoomIn" data-wow-delay="0.5s">
                            <div class="icons-item">
                                <div id="box-height-1" class="item-box sa-img bg-gary no redirect" href="web-development-company-india/index.html">
                                    <img alt="image" src="images/Our%20End%20to%20end%20Services/Web%20Development.png">
                                    <h5 class="icons-box-title">Özel yazılım</h5>
                                    <p>Yazılım çözümleri</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>