
<section class="home_sec bg-img">
    <div id="content">
        <div class="page-section-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center head_section wow fadeInUp">
                        <h2 class="section-title tt">Alaca <span style="color: #e93726;">Yazılım</span></h2>
                        <br>
                    </div>
                </div>
                <div class="icons-box style-1 home_strength_icon">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="icons-wrap wow zoomIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                                <div class="icons-item">
                                    <div id="sa-img-border1" class="box_s_hover item-box sa-img border-1">
                                        <div class="effect-hov-1">
                                            <div class="home_icon">
                                                <img alt="image" src="https://d160p8tq559394.cloudfront.net/esferasoft/images/Experience.webp" height="60">
                                            </div>
                                            <h5 class="icons-box-title icon_padd" style="color: #e93726;">Hızlı ve güvenilir destek</h5>
                                        </div>
                                        <div id="DivForHoverItem">
                                            <div id="HiddenText">
                                                <p>Mikro ürünleri arasında sizin ihtiyacınıza en uygun ürünler seçeneklerini size sunuyoruz. İster hemen satın alın, isterseniz size özel fiyatlarımız için bizden teklif isteyin.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="icons-wrap wow zoomIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                                <div class="icons-item">
                                    <div id="sa-img-border-2" class="box_s_hover item-box sa-img border-1">
                                        <div class="effect-hov-1">
                                            <div class="home_icon">
                                                <img alt="image" src="https://d160p8tq559394.cloudfront.net/esferasoft/images/expertise.webp" style="width: 80px;">
                                            </div>
                                            <h5 class="icons-box-title icon_padd" style="color: #e93726;">Hızlı ve güvenilir destek</h5>
                                        </div>
                                        <div id="DivForHoverItem">
                                            <div id="HiddenText">
                                                <p id="hidden-p-home">İstanbul Kadıköy, Maltepe, Kartal, Pendik ve Gebze ilçelerinde Mikro Muasebe yazılımıyla ilgili ihtiyaçlarınıza yerinde veya uzaktan yardımla çözüm üretiyoruz.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="icons-wrap wow zoomIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                                <div class="icons-item">
                                    <div id="sa-img-border1" class="box_s_hover item-box sa-img border-1">
                                        <div class="effect-hov-1">
                                            <div class="home_icon">
                                                <img alt="image" src="https://d160p8tq559394.cloudfront.net/esferasoft/images/innovation.webp" style="width: 80px;">
                                            </div>
                                            <h5 class="icons-box-title icon_padd" style="color: #e93726;">Özel yazılımlar</h5>
                                        </div>
                                        <div id="DivForHoverItem">
                                            <div id="HiddenText">
                                                <p id="hidden-p-home">Kullanmakta olduğunuz sistemi tamamlayıcı veya sistemler arası entegrasyon yazılımlarını size özel senaryoları göze alarak üretiyoruz.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>