
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pageheader">
    <div class="pageicon"><span class="iconfa-briefcase"></span></div>
    <div class="pagetitle">
        <h5>ALACA ELEKTRONİK Admin Panel</h5>
        <h1>Hoşgeldiniz</h1>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        ShowMessage('test', 'asada');
    });
</script>
<!--pageheader-->
