@using Alaca.Web.Models
@using Admin.DataLayer
@model LayoutModel<ProductChoiceModel>

@{
    ViewBag.Title = "Ürün Seçim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section slider
{
    <div id="about_us" class="half_banner" data-bg="/images/node_banner.jpg">
    </div>
}

<section class="about_sec half_top bg_gray">
    <div class="container">
        <div class="white_bg">

            <div class="row">
                <div class="col-md-12 text-center head_section wow fadeInUp">
                    <h2 class="section-title tt">Müşteri <span style="color: #e93726;">Ürün Seçimi</span></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                Ürün Ailesi<br />
                                <select id="ddlMainGroup" class="form-control" onchange="mainGroupChange()">
                                    <option value="-1">Seçiniz</option>
                                    @{
                                        foreach (UrunGrup mainGroup in Model.PageModel.MainGroups)
                                        {
                                            <option value="@mainGroup.UrunGrupId">@mainGroup.UrunGrupAdi</option>
                                        }
                                    }
                                </select>
                            </div>
                            <br />
                            <div>
                                Ürün Alt Ailesi<br />
                                <select id="ddlSubMainGroup" class="form-control" onchange="subMainGroupChange()"></select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <br />Ürün Listesi<br />
                            <table class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="dataList_info">
                                <thead>
                                    <tr role="row">
                                        <th style="width:50px"></th>
                                        <th>Ürün Adı</th>
                                        <th>Liste Fiyatı</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyProduct"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-md-7">
                    <div class="col-md-9">
                        <br />Siparişler<br />
                        <table id="tblOrderList" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="dataList_info">
                            <thead>
                                <tr role="row">
                                    <th>Ürün Adı</th>
                                    <th>Liste Fiyatı</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyOrderList"></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    function mainGroupChange() {
        var formData = new FormData();
        formData.append("MainGroupId", $("#ddlMainGroup").val());

        $.ajax({
            type: "POST",
            url: "/Urunlerimiz/GetMainSubGroups",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (subMainGroups) {
                $('#tbodyProduct').empty();
                $('#ddlSubMainGroup').empty();

                if (subMainGroups != null && subMainGroups.length > 0) {
                    if (subMainGroups.length == 1) {
                        var subGroup = subMainGroups[0];

                        $('#ddlSubMainGroup').append('<option value="' + subGroup.UrunGrupId + '" selected="selected">' + subGroup.UrunGrupAdi + '</option>');
                        subMainGroupChange();
                    }
                    else {

                        $('#ddlSubMainGroup').append($('<option>', {
                            value: -1,
                            text: "Seçiniz"
                        }));

                        for (var i = 0; i < subMainGroups.length; i++) {
                            var subGroup = subMainGroups[i];

                            $('#ddlSubMainGroup').append($('<option>', {
                                value: subGroup.UrunGrupId,
                                text: subGroup.UrunGrupAdi
                            }));
                        }
                    }
                }
            }
        });
    }

    function subMainGroupChange() {
        var formData = new FormData();
        formData.append("SubMainGroupId", $("#ddlSubMainGroup").val());

        $.ajax({
            type: "POST",
            url: "/Urunlerimiz/GetProducts",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (products) {
                $('#tbodyProduct').empty();

                if (products != null && products.length > 0) {
                    for (var i = 0; i < products.length; i++) {
                        var product = products[i];

                        $("#tbodyProduct").append(' <tr role=\"row\" class=\"odd\">' +
                            '<td>' +
                            '<button onclick= "productClick(' + product.UrunId + ')"> <img src="/images/add.png\"></button>' +
                            '</td>' +
                            '<td>' + product.UrunAdi + '</td>' +
                            '<td>' + product.ListeFiyat + ' TL</td>' +
                            '</tr>');
                    }
                }
            }
        });
    }

    function productClick(productId) {
        var formData = new FormData();
        formData.append("SubMainGroupId", $("#ddlSubMainGroup").val());
        formData.append("ProductId", productId);

        $.ajax({
            type: "POST",
            url: "/Urunlerimiz/GetAdditionalProducts",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (products) {
                if (products != null && products.length > 0) {
                    for (var i = 0; i < products.length; i++) {
                        var product = products[i];

                        $("#tbodyOrderList").append(' <tr role=\"row\" class=\"odd\">' +
                            '<td>' + product.UrunAdi + '</td>' +
                            '<td>' + product.ListeFiyat + ' TL</td>' +
                            '</tr>');
                    }
                }
            }
        });
    }
</script>