@using Alaca.Web.Models
@using Admin.DataLayer
@model LayoutModel<ProductChoiceModel>

@{
    ViewBag.Title = "Ürün Seçim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section slider
{
    <div id="about_us" class="half_banner" data-bg="/images/node_banner.jpg">
    </div>
}

<section class="about_sec half_top bg_gray">
    <div class="container">
        <div class="white_bg">
            <div class="row">
                <div class="col-md-12 text-center head_section wow fadeInUp">
                    <h2 class="section-title tt"><span style="color: #e93726;">Ürün Fiyat Hesaplama Aracı</span></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div>
                        Ürün Ailesi<br />
                        <select id="ddlMainGroup" class="form-control" onchange="mainGroupChange()">
                            <option value="-1">Seçiniz</option>
                            @{
                                foreach (UrunGrup mainGroup in Model.PageModel.MainGroups)
                                {
                                    <option value="@mainGroup.UrunGrupId">@mainGroup.UrunGrupAdi</option>
                                }
                            }
                        </select>
                    </div>
                    <br />
                    <div>
                        Ürün Alt Ailesi<br />
                        <select id="ddlSubMainGroup" class="form-control" onchange="subMainGroupChange()"></select>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    Ürün Listesi<br />
                    <table class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="dataList_info">
                        <thead>
                            <tr role="row">
                                <th style="width:50px"></th>
                                <th>Ürün Adı</th>
                                <th>Liste Fiyatı</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyProduct"></tbody>
                    </table>
                </div>

                <br />
                <div class="col-md-12">
                    <br />Siparişler<br />
                    <table id="tblOrderList" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="dataList_info">
                        <thead>
                            <tr role="row">
                                <th style="width:60px"></th>
                                <th style="width:60px">Adet</th>
                                <th>Ürün Adı</th>
                                <th>Liste Fiyatı</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyOrderList"></tbody>
                    </table>
                    <br />
                    <div id="divTotal"><b>TOPLAM: </b><b id="bToplam">0</b><b> TL</b></div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTalepGonder"  id="btnTalepGonder">Talep Gönder</button> 
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="modalTalepGonder" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span id="spanBaslikGrup">Talep Formu</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="divUpdate" class="modal-body">
                <form role="form">
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtAdSoyad" placeholder="Ad, Soyad" /><br />
                            <input type="text" class="form-control" id="txtFirmaAdi" placeholder="Firma Adı" /><br />
                            <input type="email" class="form-control" id="txtEPosta" placeholder="E-Posta" /><br />
                            <input type="tel" class="form-control" id="txtTelefon" placeholder="Telefon" /><br />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalClose">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="talepGonderOnay()">Gönder</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#btnTalepGonder").hide();
        $("#divOrder").hide();
    });

    function mainGroupChange() {
        var formData = new FormData();
        formData.append("MainGroupId", $("#ddlMainGroup").val());

        $.ajax({
            type: "POST",
            url: "/Urunlerimiz/GetMainSubGroups",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (subMainGroups) {
                $('#tbodyProduct').empty();
                $('#ddlSubMainGroup').empty();

                if (subMainGroups != null && subMainGroups.length > 0) {
                    if (subMainGroups.length == 1) {
                        var subGroup = subMainGroups[0];

                        $('#ddlSubMainGroup').append('<option value="' + subGroup.UrunGrupId + '" selected="selected">' + subGroup.UrunGrupAdi + '</option>');
                        subMainGroupChange();
                    }
                    else {

                        $('#ddlSubMainGroup').append($('<option>', {
                            value: -1,
                            text: "Seçiniz"
                        }));

                        for (var i = 0; i < subMainGroups.length; i++) {
                            var subGroup = subMainGroups[i];

                            $('#ddlSubMainGroup').append($('<option>', {
                                value: subGroup.UrunGrupId,
                                text: subGroup.UrunGrupAdi
                            }));
                        }
                    }
                }
            }
        });
    }

    function subMainGroupChange() {
        var formData = new FormData();
        formData.append("SubMainGroupId", $("#ddlSubMainGroup").val());

        $.ajax({
            type: "POST",
            url: "/Urunlerimiz/GetProducts",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (products) {
                $('#tbodyProduct').empty();

                if (products != null && products.length > 0) {
                    for (var i = 0; i < products.length; i++) {
                        var product = products[i];

                        $("#tbodyProduct").append(' <tr role=\"row\" class=\"odd\">' +
                            '<td>' +
                            '<button onclick= "productClick(' + product.UrunId + ')"> <img src="/images/patch-plus-fill.svg" style=\"width:30px;height:30px\"></button>' +
                            '</td>' +
                            '<td>' + product.UrunAdi + '</td>' +
                            '<td>' + product.ListeFiyat + ' TL</td>' +
                            '</tr>');
                    }
                }
            }
        });
    }

    function productClick(productId) {
        var formData = new FormData();
        formData.append("SubMainGroupId", $("#ddlSubMainGroup").val());
        formData.append("ProductId", productId);

        $.ajax({
            type: "POST",
            url: "/Urunlerimiz/GetAdditionalProducts",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (products) {
                if (products != null && products.length > 0) {
                    $("#btnTalepGonder").show();
                    $("#divOrder").show();

                    var total = parseFloat($("#bToplam").text());

                    for (var i = 0; i < products.length; i++) {
                        var product = products[i];

                        var tdSil = '<td></td>';
                        var tdAdet = '<td></td>';

                        if (i == 0) {
                            tdAdet = '<td ><input type="number" id="txtAdet' + product.UrunId + '" class="adetChange" placeholder="Adet" value="1" style="width:40px"  /></td>';
                            tdSil = '<td><button onclick= "productDeleteClick(' + product.UrunId + ')"> <img src="/images/x-circle-fill.svg" style=\"width:30px;height:30px\"></button></td>';
                        }

                        $("#tbodyOrderList").append(' <tr urunId= "tr' + product.UrunId + '" anaUrunId="tr' + product.FKAnaUrunId + '" class="tr' + product.FKAnaUrunId + '">' +
                            tdSil +
                            tdAdet +
                            '<td>' + product.UrunAdi + '</td>' +
                            '<td><span id="spanOriginal' + product.UrunId + '" style="display:none">' + product.ListeFiyat + '</span><span id="span' + product.UrunId + '">' + product.ListeFiyat + '</span> TL</td>' +
                            '</tr>');

                        total += parseFloat(product.ListeFiyat);
                    }

                    calculateTotalPrice();
                }
            }
        });
    }

    function productDeleteClick(productId) {
        $("#tbodyOrderList").find("tr[urunId]").each(function () {
            var trId = this.attributes["urunid"].value.replace("tr", "");
            if (trId == productId) {
                this.remove();
            }
        });
        $("#tbodyOrderList").children(".tr" + productId).each(function () {
            this.remove();
        });

        calculateTotalPrice();
    }

    function calculateTotalPrice() {
        var total = 0;

        $("#tbodyOrderList > tr").each(function () {
            var urunId = $(this).attr('urunId').replace("tr", "");
            var anaUrunId = $(this).attr('anaUrunId').replace("tr", "");

            var adetId = anaUrunId == "0" ? urunId : anaUrunId;
            var adet = parseFloat($("#txtAdet" + adetId).val());

            var originalFiyat = parseFloat($("#spanOriginal" + urunId).text());

            total += (adet * originalFiyat);
        });

        $("#bToplam").text(total);
    }

    $(function () {
        var urunId = 0;
        $('#tbodyOrderList').delegate('.adetChange', 'change', function () {
            var $thisTextbox = $(this)

            urunId = $thisTextbox.attr('id').replace("txtAdet", "");

            var adet = parseFloat($thisTextbox.val());

            var originalFiyat = parseFloat($("#spanOriginal" + urunId).text());
            var fiyat = originalFiyat * adet;
            $("#span" + urunId).text(fiyat);

            $("#tbodyOrderList").children(".tr" + urunId).each(function () {
                var trId = this.attributes["urunid"].value.replace("tr", "");
                var originalFiyat = parseFloat($("#spanOriginal" + trId).text());
                var fiyat = originalFiyat * adet;
                $("#span" + trId).text(fiyat);
            });

            calculateTotalPrice();
        });
    });

    function fieldValidationControl(fieldKey, message) {
        var fieldValue = $("#" + fieldKey).val();
        if (fieldValue == '' || fieldValue == null || fieldValue == undefined) {
            toastr.error(message)
            return false;
        }

        return true;
    }

    function talepGonderOnay() {
        if (!fieldValidationControl("txtAdSoyad", "Adınızı ve soyadını giriniz")) {
            return;
        }

        if (!fieldValidationControl("txtFirmaAdi", "Firma adını giriniz")) {
            return;
        }

        if (!fieldValidationControl("txtEPosta", "Email adresini giriniz")) {
            return;
        }

        if (!fieldValidationControl("txtTelefon", "Telefonu giriniz")) {
            return;
        }

        var formData = new FormData();
        formData.append("AdSoyad", $("#txtAdSoyad").val());
        formData.append("FirmaAdi", $("#txtFirmaAdi").val());
        formData.append("EPosta", $("#txtEPosta").val());
        formData.append("Telefon", $("#txtTelefon").val());
        formData.append("Body", $("#divOrder").html());

        $.ajax({
            type: "POST",
            url: "/Urunlerimiz/SendEmail",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                toastr.success("Talep formunuz başarıyla gönderilmiştir")
                location.reload();
            }
        });
    }
</script>