@using Alaca.Web.Models
@model LayoutModel

@{
    ViewBag.Title = "Duyuru&Haber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section slider
{
    <div id="about_us" class="half_banner" data-bg="/images/1920x806_bg1.jpg">
        <div class="container">
            <div class="half_banner_text wow fadeInLeft">
                <h2>Hakkımızda</h2>
                <p>Amacımız, onlarla Yenilikçi ve Kusursuz İş Ortaklığımızla Sınırlarını Genişletebilecek Müşteri Beklentisinin Üzerinde ve Ötesinde Hizmet Sunmaktır.</p>
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="post-title"> Cafu &#8211; On-Demand Fuel Delivery App, Business Model &#038; Development Cost </h1>
            <div class="post-content">
                <a class="author-link"
                   href="#" rel="author" class="author-link"><!--  <p class="post_info author_image"> --></a></p>
                <!-- <i class="fa
                fa-user" aria-hidden="true"></i>  -->
                <!-- <img class="avatar avatar-32 wp-user-avatar wp-user-avatar-32 photo avatar-default"
                src="https://www.esferasoft.com/blog/wp-content/plugins/wp-user-avatar/images/wpua-32x32.png"
                alt="demo"> --<!-- > Esferasoft Solutions </a>   -->
                <div class="post-description">
                    <p class="post-description">
                        <hr class="wp-block-separator" />

                    <p>The transportation sector sets the trend for on-demand mobile apps and services, and it has become a comfort solution in a big way in many parts of the world. This technology has now extended to the fuel delivery business. Now, with Cafu digital services, you can demand fuel anywhere, anytime. Let us look at this phenomenon of on-demand software solutions in full-depth.<br></p>



                </div><!--post-description -->
            </div><!--post-content -->
        </div>
        <div class="col-md-4">
            <div id="recent-posts-2" class="widget widget_recent_entries">
                <h4 class="widgettitle">Recent Posts</h4>
                <ul>
                    <li>
                        <a href="index.html" aria-current="page">Cafu &#8211; On-Demand Fuel Delivery App, Business Model &#038; Development Cost</a>
                        <span class="post-date">September 30, 2020</span>
                    </li>
                    <li>
                        <a href="../how-are-apps-like-draftkings-fan-duel-changing-the-sports-industry/index.html">How are Apps like Draftkings &#038; Fan Duel Changing the Sports Industry?</a>
                        <span class="post-date">September 11, 2020</span>
                    </li>
                    <li>
                        <a href="../creating-an-app-for-snow-removal-eden-the-best-app-for-lawn-care-and-snow-plow-teaches-how/index.html">Creating An App For Snow Removal? Eden, The Best App For Lawn Care And Snow Plow Teaches How</a>
                        <span class="post-date">August 28, 2020</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>