@using Alaca.Web.Models
@model LayoutModel

@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section slider
{
    <div id="about_us" class="half_banner" data-bg="/images/1920x806_bg1.jpg">
    <div class="container">
        <div class="half_banner_text wow fadeInLeft">
            <h2>Hakkımızda</h2>
            <p>Amacımız, onlarla Yenilikçi ve Kusursuz İş Ortaklığımızla Sınırlarını Genişletebilecek Müşteri Beklentisinin Üzerinde ve Ötesinde Hizmet Sunmaktır.</p>
        </div>
    </div>
</div>
}

<section class="about_sec half_top bg_gray">
    <div class="container">
        <div class="white_bg">
            <div class="row">
                <div class="col-md-12  text-center head_section wow fadeInUp">
                    @*<h2 class="section-title tt">Misyonumuz </h2>
                <h5>Misyonumuz, Her Müşterinin İşini Geliştiren Hizmet Yelpazesi Sunmaktır.</h5>
                <p>Birincil Misyonumuz, sürekli değişen Teknoloji Dünyası alanında En İyi Hizmetleri ve Çözümleri sunarak Müşteri Gereksinimlerini ve Taahhütlerimizi Karşılamaktır.</p>
                <h5>Ana Planlamamız şunları içerir:</h5>*@

                    <h2 class="section-title tt ">Biz Kimiz?</h2>



                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>
                        <strong> Alaca Yazılım Hiz. San. Tic. Ltd. Şti. </strong> olarak 2006 yılında toptan, perakende, imalat sektörlerine özel çözümler üretmek, firmaları kurumsal standartlara yükseltmek ve gelişen teknolojiye ayak uydurabilmek amacı ile kurulmuş olup her geçen gün gelişen ve değişen müşteri portföyünün ihtiyaçlarına cevap vermekteyiz.
                        Firmaların kendi kurumsal kimliklerini oluşturabilmeleri ve tüm süreçlerini takip edebilmelerine yardımcı olmak amacıyla kurulmuş olan <strong>Alaca Yazılım </strong>, sektörlere özel geliştirmiş olduğu ERP çözümleri ile Mikro Yazılımevi Çözüm Ortakları arasında farklılığını yıllar geçtikçe daha da belirginleştirmiştir.
                        2008’ li yılların ilk yarısında başlayan <strong> Mikro Yazılım Evi </strong>Yetkili Satıcılığı işimizi, yapmış olduğumuz projeler ve kurumsal çözümler neticesinde Mikro Yazılım evi tarafından başarılarımız Mikro Retail Çözüm Ortaklığı ile taçlandırılmıştır.
                        Günlük iş akışı içerisinde ister perakende ister toptan, isterseniz imalat sektöründe olun <strong>Alaca Yazılım </strong> olarak “müşteriye özel en kapsamlı çözümler” firmamız tarafından yıllardır başarı ile uygulanmaktadır.
                                                                                                                   <strong>Alaca Yazılım </strong> sektör ne olursa olsun yıllardır sonuca en kısa ve en doğru yoldan müşterilerini götürebilmiş sağlam kurgu ve uygulamalı eğitimleri ile müşterilerinde başarıya ulaşmıştır. Burada dikkat edilebilecek en önemli husus karmaşık gibi görünen ERP uygulamalarını yenilikçi ve uygulamalı çözüm sunarak müşterimizin de bu süreçlerde karşılıklı uyum sonucunda iki tarafında kısa sürede başarıya ulaşması işimize mükemmeliyetçi bakış açımızın bir sonucudur.
                        <strong>Alaca Yazılım </strong>; Yeni nesil yazarkasa, barkod restaurant yazılımları,depo sevkiyat yazılımları pazarlama takip yazılımları (CRM) üretim takip yazılımları ve buna bağlı sistemlerle ilgili entegre çözümlerde geliştirir. Bu hususlarda da müşteri odaklı bilgi ve tecrübesi ile ihtiyaçları belirler, işletmenin gerçekten kullanabileceği çözümleri geliştirir.
                   </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12  text-center head_section wow fadeInUp">
                    @*<h2 class="section-title tt">Misyonumuz </h2>
                <h5>Misyonumuz, Her Müşterinin İşini Geliştiren Hizmet Yelpazesi Sunmaktır.</h5>
                <p>Birincil Misyonumuz, sürekli değişen Teknoloji Dünyası alanında En İyi Hizmetleri ve Çözümleri sunarak Müşteri Gereksinimlerini ve Taahhütlerimizi Karşılamaktır.</p>
                <h5>Ana Planlamamız şunları içerir:</h5>*@

                    <h2 class="section-title tt ">Neden Biz?</h2>



                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>
                        Kaliteli ürünler sağlama, müşterilerimize üstün hizmet ve teknik destek sunmak müşterilerimizin talep ettiği pazarlarda rekabetçi olmalarını sağlar. Sizin için oluşturduğumuz ürünlerin kalitesini ve güvenilirliğini sağlayabiliriz. Kolay ve kullanıcı dostu çözümler sağlamak, az eğitim gerektiren kullanıcı dostu arayüzü ile eğitim gereksinimini azaltın. Yenilikçi fikirlerin uygulanması, taze ve yenilikçi düşüncemiz bizi benzersiz kılıyor. Müşterilerimizin memnuniyeti için, her zaman uygulamalarımızı yenilikçi özelliklerle güncelliyoruz. En iyi müşteri desteği yüksek eğitimli ve deneyimli destek uzmanlarına telefon, e-posta veya Web üzerinden erişilebilir. Her bir müşteriye deneyimli Profesyonel Hizmetler ekibi atanır.
                    </p>
                </div>
            </div>


            @*<div class="row">
            <div class="col-md-12">
                <ul class="about-section1-ul-1">
                    <li>Çözümleri önermeden önce müşterimizin ihtiyaçlarını derinlemesine anlamak.</li>
                    <li>Yaratıcılık teknolojisi mükemmelliğinin doğru karışımını uygulayarak müşterilerin iş hedeflerine ulaşmalarına yardımcı olmak.</li>
                    <li>Fikirlerden uygulamaya kadar tüm yönleri kapsayarak iş verimliliğini, görünürlüğünü, üretkenliğini artırmak</li>
                </ul>
            </div>
        </div>*@
        </div>
    </div>
</section>