body{
	font-family:sans-serif;
}

ol, ul {
    list-style: none;
}

/*----------Slider----------*/
.my-simple-slider {
	position: relative;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	margin-bottom:0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; /*Belirtilen yerde (özellikle yazıda) seçim yapma*/
	box-shadow: 
        0px 11px 8px -10px #f1f1f1,
        0px -11px 8px -10px #f1f1f1; 
	width:100%; 
}

.my-simple-slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateX(100%);
	cursor: move;
}

.my-simple-slider li.selected { /*secilen sayfa, aktif sayfa*/
	position: relative;
	transform: translateX(0)
}

.my-simple-slider li.move-left { /*gecis yonu efekti*/
	transform: translateX(-100%)
}

.my-simple-slider li.is-moving,
.my-simple-slider li.selected { /*gecis efektinin yavasligi*/
	transition: transform .5s
}

.my-simple-slider .mys-full-width, /*ful ekran slider sayfa*/
.my-simple-slider .mys-harf-width { /*iki bolmeli slider sayfa*/
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
	text-align: center;
	backface-visibility: hidden;
	display: table;
	table-layout: fixed;
}

.my-simple-slider .mys-harf-width {
	width: 50%;
	float: left;
    position: relative;
}

.my-simple-slider h2,
.my-simple-slider p {
	margin: 0 auto 10px;
	width: 90%;
	text-shadow:0px 1px 5px #ccc
}

.my-simple-slider h2 {
	font-size: 24px
}

.my-simple-slider p {
	font-size: 17px;
}

.my-simple-slider .mys_content { /*slider sayfa icerik*/
	display: table-cell;
	vertical-align: middle;
}
.my-simple-slider .mys_content img { /*slider icerisindeki resim*/
	position:absolute;
	top:0;
	bottom:0; 
	right:0;
	max-height:100%;
	max-width:100%;
	/* resim ortala */
	display:block; 
	margin: auto;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.my-simple-slider .mys_content a{
	color:#444
}

/*----------Slider Nav----------*/
.mys-slider-nav {
	width: 100%;
	text-align: center;
	font-weight:700;
}
.mys-slider-nav li {
	display: inline-block;
	border-radius: 50%;
	background: #f1f1f1;
	margin: 8px;
}
.mys-slider-nav .selected {
	background:#0377ef;
	box-shadow:0px 0px 1px 0px #eaeaea;
}
.mys-slider-nav .selected a{
	color:#fff
}
.mys-slider-nav a {
	display: block;
	padding: 10px 15px;
	color: #444;
	cursor: pointer;
}
.mys-slider-nav a::before {
	top: 18px
}

/*----------Slider Device Views----------*/
@media (min-width: 1281px){
	.mini-mys-slider{
		height: 150px;
	}
	.big-mys-slider{
		height: 380px;
	}
	/* 
		##Device = Desktops
		##Screen = 1281px to higher resolution desktops
	*/
}
@media (min-width: 1025px) and (max-width: 1280px){
	.mini-mys-slider{
		height: 150px;
	}
	.big-mys-slider{
		height: 380px;
	}
	/* 
		##Device = Laptops, Desktops
		##Screen = B/w 1025px to 1280px
	*/
}	
@media (min-width: 768px) and (max-width: 1024px){
	.mini-mys-slider{
		height: 150px;
	}
	.big-mys-slider{
		height: 280px;
	}
	/* 
		##Device = Tablets, Ipads (portrait)
		##Screen = B/w 768px to 1024px
	*/
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.mini-mys-slider{
		height: 150px;
	}
	.big-mys-slider{
		height: 280px;
	}
	/* 
		##Device = Tablets, Ipads (landscape)
		##Screen = B/w 768px to 1024px
	*/
}
@media (min-width: 481px) and (max-width: 767px){
	.mini-mys-slider{
		height: 150px;
	}
	.big-mys-slider{
		height: 260px;
	}
	/* 
		##Device = Low Resolution Tablets, Mobiles (Landscape)
		##Screen = B/w 481px to 767px
	*/
}
@media (max-width: 480px) {
	.mini-mys-slider{
		height: 150px;
	}
	.big-mys-slider{
		height: 240px;
	}
	/* 
		##Device = Most of the Smartphones Mobiles (Portrait)
		##Screen = B/w 320px to 479px
	*/	
}